{% extends 'base/base.html' %}
{% load static %}

{% block content %}

    {% include 'partials/breadcrumb.html' with title='Available Rooms' %}


    <section class="ftco-section bg-light ftco-no-pt ftco-no-pb">
        <div class="container-fluid px-md-0">
            <div class="row no-gutters">
                {% if available_rooms %}

                    {% for available_room in available_rooms %}


                        <div class="col-lg-6">
                            <div class="room-wrap d-md-flex">
                                <a href="#" class="img"
                                   style="background-image: url({% static 'base/' %}images/room-1.jpg);"></a>
                                <div class="half left-arrow d-flex align-items-center">
                                    <div class="text p-4 p-xl-5 text-center">
                                        <p class="star mb-0"><span class="fa fa-star"></span><span
                                                class="fa fa-star"></span><span class="fa fa-star"></span><span
                                                class="fa fa-star"></span><span class="fa fa-star"></span></p>
                                        <p class="mb-0"><span
                                                class="price mr-1">${{ available_room.room_type.price }}</span> <span
                                                class="per">per night</span></p>
                                        <h3 class="mb-3"><a
                                                href="rooms.html"><span>Room No: </span>{{ available_room.room_no }}</a>
                                        </h3>
                                        <ul class="list-accomodation">
                                            <li><span>Room Type:</span> {{ available_room.room_type }}</li>
                                            <li><span>Max:</span> {{ available_room.room_type.maximum_capacity }}
                                                Persons
                                            </li>
                                            <li><span>Size:</span> {{ available_room.room_type.size }} m2</li>
                                            <li><span>View:</span> {{ available_room.room_type.view }}</li>
                                            <li><span>Bed:</span> {{ available_room.room_type.bed_number }}</li>
                                        </ul>
                                        <p class="pt-1"><a href="{% url 'booking:book' available_room.pk %}"
                                                           class="btn-custom px-3 py-2">Book This Room <span
                                                class="icon-long-arrow-right"></span></a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="text-center">
                        <h1>No rooms available! Please check back later!</h1>

                    </div>
                {% endif %}
                {#    			<div class="col-lg-6">#}
                {#    				<div class="room-wrap d-md-flex">#}
                {#    					<a href="#" class="img" style="background-image: url({% static 'base/' %}images/room-2.jpg);"></a>#}
                {#    					<div class="half left-arrow d-flex align-items-center">#}
                {#    						<div class="text p-4 p-xl-5 text-center">#}
                {#    							<p class="star mb-0"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></p>#}
                {#    							<p class="mb-0"><span class="price mr-1">$120.00</span> <span class="per">per night</span></p>#}
                {#	    						<h3 class="mb-3"><a href="rooms.html">Standard Room</a></h3>#}
                {#									<ul class="list-accomodation">#}
                {#	    							<li><span>Max:</span> 3 Persons</li>#}
                {#	    							<li><span>Size:</span> 45 m2</li>#}
                {#	    							<li><span>View:</span> Sea View</li>#}
                {#	    							<li><span>Bed:</span> 1</li>#}
                {#	    						</ul>#}
                {#	    						<p class="pt-1"><a href="room-single.html" class="btn-custom px-3 py-2">View Room Details <span class="icon-long-arrow-right"></span></a></p>#}
                {#    						</div>#}
                {#    					</div>#}
                {#    				</div>#}
                {#    			</div>#}
                {##}
                {#    			<div class="col-lg-6">#}
                {#    				<div class="room-wrap d-md-flex">#}
                {#    					<a href="#" class="img order-md-last" style="background-image: url({% static 'base/' %}images/room-3.jpg);"></a>#}
                {#    					<div class="half right-arrow d-flex align-items-center">#}
                {#    						<div class="text p-4 p-xl-5 text-center">#}
                {#    							<p class="star mb-0"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></p>#}
                {#    							<p class="mb-0"><span class="price mr-1">$120.00</span> <span class="per">per night</span></p>#}
                {#	    						<h3 class="mb-3"><a href="rooms.html">Family Room</a></h3>#}
                {#									<ul class="list-accomodation">#}
                {#	    							<li><span>Max:</span> 3 Persons</li>#}
                {#	    							<li><span>Size:</span> 45 m2</li>#}
                {#	    							<li><span>View:</span> Sea View</li>#}
                {#	    							<li><span>Bed:</span> 1</li>#}
                {#	    						</ul>#}
                {#	    						<p class="pt-1"><a href="room-single.html" class="btn-custom px-3 py-2">View Room Details <span class="icon-long-arrow-right"></span></a></p>#}
                {#    						</div>#}
                {#    					</div>#}
                {#    				</div>#}
                {#    			</div>#}
                {#    			<div class="col-lg-6">#}
                {#    				<div class="room-wrap d-md-flex">#}
                {#    					<a href="#" class="img order-md-last" style="background-image: url({% static 'base/' %}images/room-4.jpg);"></a>#}
                {#    					<div class="half right-arrow d-flex align-items-center">#}
                {#    						<div class="text p-4 p-xl-5 text-center">#}
                {#    							<p class="star mb-0"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></p>#}
                {#    							<p class="mb-0"><span class="price mr-1">$120.00</span> <span class="per">per night</span></p>#}
                {#	    						<h3 class="mb-3"><a href="rooms.html">Deluxe Room</a></h3>#}
                {#									<ul class="list-accomodation">#}
                {#	    							<li><span>Max:</span> 3 Persons</li>#}
                {#	    							<li><span>Size:</span> 45 m2</li>#}
                {#	    							<li><span>View:</span> Sea View</li>#}
                {#	    							<li><span>Bed:</span> 1</li>#}
                {#	    						</ul>#}
                {#	    						<p class="pt-1"><a href="room-single.html" class="btn-custom px-3 py-2">View Room Details <span class="icon-long-arrow-right"></span></a></p>#}
                {#    						</div>#}
                {#    					</div>#}
                {#    				</div>#}
                {#    			</div>#}
                {##}
                {#    			<div class="col-lg-6">#}
                {#    				<div class="room-wrap d-md-flex">#}
                {#    					<a href="#" class="img" style="background-image: url({% static 'base/' %}images/room-5.jpg);"></a>#}
                {#    					<div class="half left-arrow d-flex align-items-center">#}
                {#    						<div class="text p-4 p-xl-5 text-center">#}
                {#    							<p class="star mb-0"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></p>#}
                {#	    						<h3 class="mb-3"><a href="rooms.html">Luxury Room</a></h3>#}
                {#									<ul class="list-accomodation">#}
                {#	    							<li><span>Max:</span> 3 Persons</li>#}
                {#	    							<li><span>Size:</span> 45 m2</li>#}
                {#	    							<li><span>View:</span> Sea View</li>#}
                {#	    							<li><span>Bed:</span> 1</li>#}
                {#	    						</ul>#}
                {#	    						<p class="pt-1"><a href="room-single.html" class="btn-custom px-3 py-2">View Room Details <span class="icon-long-arrow-right"></span></a></p>#}
                {#    						</div>#}
                {#    					</div>#}
                {#    				</div>#}
                {#    			</div>#}
                {#    			<div class="col-lg-6">#}
                {#    				<div class="room-wrap d-md-flex">#}
                {#    					<a href="#" class="img" style="background-image: url({% static 'base/' %}images/room-6.jpg);"></a>#}
                {#    					<div class="half left-arrow d-flex align-items-center">#}
                {#    						<div class="text p-4 p-xl-5 text-center">#}
                {#    							<p class="star mb-0"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></p>#}
                {#	    						<h3 class="mb-3"><a href="rooms.html">Superior Room</a></h3>#}
                {#									<ul class="list-accomodation">#}
                {#	    							<li><span>Max:</span> 3 Persons</li>#}
                {#	    							<li><span>Size:</span> 45 m2</li>#}
                {#	    							<li><span>View:</span> Sea View</li>#}
                {#	    							<li><span>Bed:</span> 1</li>#}
                {#	    						</ul>#}
                {#	    						<p class="pt-1"><a href="room-single.html" class="btn-custom px-3 py-2">View Room Details <span class="icon-long-arrow-right"></span></a></p>#}
                {#    						</div>#}
                {#    					</div>#}
                {#    				</div>#}
                {#    			</div>#}
            </div>
        </div>
    </section>

{% endblock content %}