{% extends 'base/base.html' %}
{% load static %}

{% block content %}


    <section class="ftco-section bg-light ftco-no-pt ftco-no-pb">
        <div class="container-fluid">
            <div class="row navbar-expand-md">
                <nav class="col-md-3 col-lg-2 bg-dark navbar-collapse collapse sidebar" id="sidenav"
                     style="align-items: flex-start;">

                    <div class="sidebar-sticky flex-column w-100 mt-1">
                        <h2 class="text-light">Dashboard</h2>
                        <hr>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'customer:dashboard' %}">
                                    <span data-feather="home"></span> View Bookings <span
                                        class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'home' %}">
                                    <span data-feather="file"></span> Add Bookings
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>

                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                    <h2>Bookings</h2>
                    <div class="table-responsive">
                        <table class="table table-striped table-sm">
                            <thead>
                            <tr>
                                <th>Booking ID</th>
                                <th>Room No</th>
                                <th>Price</th>
                                <th>Paid</th>
                                <th>Check in date</th>
                                <th>Check out date</th>
                                <th>Days remaining</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for booking in bookings %}
                                <tr>
                                    <td>{{ booking.pk }}</td>
                                    <td>{{ booking.room.room_no }}</td>
                                    <td>{{ booking.booking_price }}</td>
                                    <td>{% if booking.paid %}
                                        Yes
                                    {% else %}
                                        No
                                    {% endif %} </td>
                                    <td>{{ booking.check_in_date }}</td>
                                    <td>{{ booking.check_out_date }}</td>
                                    <td>{{ booking.days_remaining }}</td>
                                    <td>{% if booking.paid %}

                                    {% else %}
                                        <form action="{% url 'payment:checkout' %}" method="post">
                                            {% csrf_token %}

                                            <input name="amount" value="{{ booking.booking_price }}" hidden>
                                            <input name="booking-pk" value="{{ booking.pk }}" hidden>
                                            <input type="submit" class="btn btn-primary" value="Pay">
                                        </form>
                                        <form action="{% url 'booking:delete_booking' %}" method="post">
                                            {% csrf_token %}
                                            <input name="booking-pk" value="{{ booking.pk }}" hidden>

                                            <input type="submit" class="btn btn-danger" value="Delete">
                                        </form>
                                    {% endif %} </td>
                                </tr>
                            {% endfor %}


                            </tbody>
                        </table>
                    </div>
                </main>
            </div>
        </div>
    </section>
{% endblock content %}