{% extends 'base/base.html' %}
{% load static %}

{% block content %}

    {% include 'partials/breadcrumb.html' with title='Services' %}


    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-4 d-flex services align-self-stretch px-4 ftco-animate">
                    <div class="d-block services-wrap text-center">
                        <div class="img" style="background-image: url({% static 'base/' %}images/services-1.jpg);"></div>
                        <div class="media-body py-4 px-3">
                            <h3 class="heading">Map Direction</h3>
                            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost
                                unorthographic.</p>
                            <p><a href="#" class="btn btn-primary">Read more</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex services align-self-stretch px-4 ftco-animate">
                    <div class="d-block services-wrap text-center">
                        <div class="img" style="background-image: url({% static 'base/' %}images/services-2.jpg);"></div>
                        <div class="media-body py-4 px-3">
                            <h3 class="heading">Accomodation Services</h3>
                            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost
                                unorthographic.</p>
                            <p><a href="#" class="btn btn-primary">Read more</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex services align-self-stretch px-4 ftco-animate">
                    <div class="d-block services-wrap text-center">
                        <div class="img" style="background-image: url({% static 'base/' %}images/services-3.jpg);"></div>
                        <div class="media-body py-4 px-3">
                            <h3 class="heading">Great Experience</h3>
                            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost
                                unorthographic.</p>
                            <p><a href="#" class="btn btn-primary">Read more</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section bg-light ftco-no-pt">
        <div class="container">
            <div class="row no-gutters justify-content-center pb-5 mb-3">
                <div class="col-md-7 heading-section text-center ftco-animate">
                    <h2>Amenities</h2>
                </div>
            </div>
            <div class="row">
                <div class="services-2 col-md-3 d-flex w-100 ftco-animate">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-diet"></span>
                    </div>
                    <div class="media-body pl-3">
                        <h3 class="heading">Tea Coffee</h3>
                        <p>A small river named Duden flows by their place and supplies it with the necessary</p>
                    </div>
                </div>
                <div class="services-2 col-md-3 d-flex w-100 ftco-animate">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-workout"></span>
                    </div>
                    <div class="media-body pl-3">
                        <h3 class="heading">Hot Showers</h3>
                        <p>A small river named Duden flows by their place and supplies it with the necessary</p>
                    </div>
                </div>
                <div class="services-2 col-md-3 d-flex w-100 ftco-animate">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-diet-1"></span>
                    </div>
                    <div class="media-body pl-3">
                        <h3 class="heading">Laundry</h3>
                        <p>A small river named Duden flows by their place and supplies it with the necessary</p>
                    </div>
                </div>
                <div class="services-2 col-md-3 d-flex w-100 ftco-animate">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-first"></span>
                    </div>
                    <div class="media-body pl-3">
                        <h3 class="heading">Air Conditioning</h3>
                        <p>A small river named Duden flows by their place and supplies it with the necessary</p>
                    </div>
                </div>
                <div class="services-2 col-md-3 d-flex w-100 ftco-animate">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-first"></span>
                    </div>
                    <div class="media-body pl-3">
                        <h3 class="heading">Free Wifi</h3>
                        <p>A small river named Duden flows by their place and supplies it with the necessary</p>
                    </div>
                </div>
                <div class="services-2 col-md-3 d-flex w-100 ftco-animate">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-first"></span>
                    </div>
                    <div class="media-body pl-3">
                        <h3 class="heading">Kitchen</h3>
                        <p>A small river named Duden flows by their place and supplies it with the necessary</p>
                    </div>
                </div>
                <div class="services-2 col-md-3 d-flex w-100 ftco-animate">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-first"></span>
                    </div>
                    <div class="media-body pl-3">
                        <h3 class="heading">Ironing</h3>
                        <p>A small river named Duden flows by their place and supplies it with the necessary</p>
                    </div>
                </div>
                <div class="services-2 col-md-3 d-flex w-100 ftco-animate">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-first"></span>
                    </div>
                    <div class="media-body pl-3">
                        <h3 class="heading">Lovkers</h3>
                        <p>A small river named Duden flows by their place and supplies it with the necessary</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}